<a href="https://colab.research.google.com/github/mygoal-javadeveloper/-30DaysOfCP-Challenge-for-Women-CodeChef-/blob/master/ARRS_Silks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 92 kB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.3.0

In [2]:
import numpy as np
import pandas as pd
import tabula
from pandas import DataFrame
from tabulate import tabulate
import json

import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import files
uploaded = files.upload()

Saving ARRS Silks INC Note.pdf to ARRS Silks INC Note.pdf
Saving companybriefprofile.csv to companybriefprofile.csv

In [5]:
companydf = tabula.read_pdf('ARRS Silks INC Note.pdf',  pages='15', multiple_tables=True, stream=True, format='dataframe', pandas_options={'header': None})[2]
companydf

          0  ...                                                  2
0   Sr. No.  ...                                            Details
1         1  ...           Shri. S. Ravichandran, S/o R. Srinivasan
2         2  ...                                               1997
3         3  ...                                        Partnership
4         4  ...                        S. Ravichandran – 70% Share
5       NaN  ...                     R. Karthick Balaji – 30% share
6         5  ...                                         ARRS Group
7         6  ...           Retail Trading- Apparels & Baby products
8         7  ...                                            Stable.
9         8  ...  No. 7,8 & 9, Car Street, Salem- 636001, Tamil ...
10      NaN  ...                                                NaN
11        9  ...                                      Same as above
12       10  ...                               2 showrooms in Salem
13      NaN  ...                                1 showroom in Hosur
14      NaN  ...                             1 showroom in Namakkal
15       11  ...           Mr Ashok Duraisamy, B.Com., F.C.A, Salem
16       12  ...                Rs.17.75 crore as on March 31, 2018
17       13  ...               No as per NDS dated January 01, 2019
18       14  ...                         No as on December 31, 2018
19       15  ...            CARE BB- (Reaffirmed on March 19, 2018)
20       16  ...                                                Nil

[21 rows x 3 columns]

In [6]:
type(companydf)

pandas.core.frame.DataFrame

In [ ]:
# companydf2 = tabula.read_pdf('Ansal Properties & Infrastructure Ltd INC Note.pdf',  pages='27', multiple_tables=True, stream=True, format='dataframe', pandas_options={'header': None})[0]
# companydf2

         0            1                                                  2
0  Sr. No.  Particulars                                            Details
1      NaN          NaN  Non-cooperation with other CRA(s): Not Applicable

In [ ]:
# type(companydf2)

pandas.core.frame.DataFrame

In [7]:
companydf.drop(labels = [0], axis = 0, inplace = True)

In [ ]:
# companydf2.drop(labels = [0], axis = 0, inplace = True)

In [8]:
companydf.reset_index(drop = True, inplace = True)

In [ ]:
# companydf2.reset_index(drop = True, inplace = True)

In [ ]:
# companydf1

      0  ...                                                  2
0     1  ...           Shri. S. Ravichandran, S/o R. Srinivasan
1     2  ...                                               1997
2     3  ...                                        Partnership
3     4  ...                        S. Ravichandran – 70% Share
4   NaN  ...                     R. Karthick Balaji – 30% share
5     5  ...                                         ARRS Group
6     6  ...           Retail Trading- Apparels & Baby products
7     7  ...                                            Stable.
8     8  ...  No. 7,8 & 9, Car Street, Salem- 636001, Tamil ...
9   NaN  ...                                                NaN
10    9  ...                                      Same as above
11   10  ...                               2 showrooms in Salem
12  NaN  ...                                1 showroom in Hosur
13  NaN  ...                             1 showroom in Namakkal
14   11  ...           Mr Ashok Duraisamy, B.Com., F.C.A, Salem
15   12  ...                Rs.17.75 crore as on March 31, 2018
16   13  ...               No as per NDS dated January 01, 2019
17   14  ...                         No as on December 31, 2018
18   15  ...            CARE BB- (Reaffirmed on March 19, 2018)
19   16  ...                                                Nil

[20 rows x 3 columns]

In [ ]:
# companydf2

     0    1                                                  2
0  NaN  NaN  Non-cooperation with other CRA(s): Not Applicable

In [ ]:
# frames = [companydf1, companydf2]
# companydf = pd.concat(frames)

In [ ]:
# companydf.reset_index(drop = True, inplace = True)

In [9]:
companydf

      0  ...                                                  2
0     1  ...           Shri. S. Ravichandran, S/o R. Srinivasan
1     2  ...                                               1997
2     3  ...                                        Partnership
3     4  ...                        S. Ravichandran – 70% Share
4   NaN  ...                     R. Karthick Balaji – 30% share
5     5  ...                                         ARRS Group
6     6  ...           Retail Trading- Apparels & Baby products
7     7  ...                                            Stable.
8     8  ...  No. 7,8 & 9, Car Street, Salem- 636001, Tamil ...
9   NaN  ...                                                NaN
10    9  ...                                      Same as above
11   10  ...                               2 showrooms in Salem
12  NaN  ...                                1 showroom in Hosur
13  NaN  ...                             1 showroom in Namakkal
14   11  ...           Mr Ashok Duraisamy, B.Com., F.C.A, Salem
15   12  ...                Rs.17.75 crore as on March 31, 2018
16   13  ...               No as per NDS dated January 01, 2019
17   14  ...                         No as on December 31, 2018
18   15  ...            CARE BB- (Reaffirmed on March 19, 2018)
19   16  ...                                                Nil

[20 rows x 3 columns]

In [10]:
companydf.dtypes

0    object
1    object
2    object
dtype: object

In [ ]:
# for idx, row in companydf.iterrows():
#   if not pd.isnull(row[3]):
#     companydf.at[idx, 2] = companydf.at[idx, 2] + ' ' + companydf.at[idx, 3]
#   if not pd.isnull(row[4]):
#     companydf.at[idx, 2] = companydf.at[idx, 2] + ' ' + companydf.at[idx, 4]

In [ ]:
# companydf.at[26, 2] = '5) Financial ratios – Non-Financial Sector.'

In [ ]:
# companydf.at[25, 2] = '4) CARE’s methodology for Infrastructure companies, '

In [ ]:
# companydf.at[24, 2] = '3) Criteria for Short Term Instruments, '

In [ ]:
# companydf.at[23, 2] = '2) CARE’s Policy on Default Recognition, '

In [ ]:
# companydf.at[22, 2] = '1) Criteria on assigning Outlook to Credit Ratings, '

In [ ]:
# companydf

In [11]:
row_labels = []
for idx, row in companydf[::-1].iterrows():
  if pd.isnull(row[0]):
    if not pd.isnull(row[1]):
      companydf.at[idx-1, 1] = companydf.at[idx-1, 1] + ' ' + companydf.at[idx, 1]
      if idx not in row_labels:
        row_labels.append(idx)
    if not pd.isnull(row[2]):
      companydf.at[idx-1, 2] = companydf.at[idx-1, 2] + ' ' + companydf.at[idx, 2]
      if idx not in row_labels:
        row_labels.append(idx)

In [12]:
row_labels

[13, 12, 9, 4]

In [13]:
companydf.at[3, 2]

'S. Ravichandran – 70% Share R. Karthick Balaji – 30% share'

In [15]:
companydf.at[8, 1], companydf.at[11, 2]

('Registered Office/Corporate Office/Administrative office',
 '2 showrooms in Salem 1 showroom in Hosur 1 showroom in Namakkal')

In [16]:
companydf.at[8,2]

'No. 7,8 & 9, Car Street, Salem- 636001, Tamil Nadu'

In [17]:
companydf.at[10, 2] = 'No. 7,8 & 9, Car Street, Salem- 636001, Tamil Nadu',

In [18]:
companydf.drop(labels = row_labels, axis = 0, inplace = True)

In [19]:
companydf.reset_index(drop = True, inplace = True)

In [20]:
companydf

     0  ...                                                  2
0    1  ...           Shri. S. Ravichandran, S/o R. Srinivasan
1    2  ...                                               1997
2    3  ...                                        Partnership
3    4  ...  S. Ravichandran – 70% Share R. Karthick Balaji...
4    5  ...                                         ARRS Group
5    6  ...           Retail Trading- Apparels & Baby products
6    7  ...                                            Stable.
7    8  ...  No. 7,8 & 9, Car Street, Salem- 636001, Tamil ...
8    9  ...  (No. 7,8 & 9, Car Street, Salem- 636001, Tamil...
9   10  ...  2 showrooms in Salem 1 showroom in Hosur 1 sho...
10  11  ...           Mr Ashok Duraisamy, B.Com., F.C.A, Salem
11  12  ...                Rs.17.75 crore as on March 31, 2018
12  13  ...               No as per NDS dated January 01, 2019
13  14  ...                         No as on December 31, 2018
14  15  ...            CARE BB- (Reaffirmed on March 19, 2018)
15  16  ...                                                Nil

[16 rows x 3 columns]

In [21]:
 for idx, row in companydf.iterrows():
   if not pd.isnull(row[0]):
     if not pd.isnull(row[1]):
       if pd.isnull(row[2]):
         companydf.at[idx, 2] = companydf.at[idx-1, 2]

In [22]:
companydf

     0  ...                                                  2
0    1  ...           Shri. S. Ravichandran, S/o R. Srinivasan
1    2  ...                                               1997
2    3  ...                                        Partnership
3    4  ...  S. Ravichandran – 70% Share R. Karthick Balaji...
4    5  ...                                         ARRS Group
5    6  ...           Retail Trading- Apparels & Baby products
6    7  ...                                            Stable.
7    8  ...  No. 7,8 & 9, Car Street, Salem- 636001, Tamil ...
8    9  ...  (No. 7,8 & 9, Car Street, Salem- 636001, Tamil...
9   10  ...  2 showrooms in Salem 1 showroom in Hosur 1 sho...
10  11  ...           Mr Ashok Duraisamy, B.Com., F.C.A, Salem
11  12  ...                Rs.17.75 crore as on March 31, 2018
12  13  ...               No as per NDS dated January 01, 2019
13  14  ...                         No as on December 31, 2018
14  15  ...            CARE BB- (Reaffirmed on March 19, 2018)
15  16  ...                                                Nil

[16 rows x 3 columns]

In [23]:
companydf.drop(companydf.columns[[0]], axis = 1, inplace = True)

In [24]:
companydf_transposed = companydf.T # or companydf.transpose()

In [25]:
companydf_transposed

                                         0   ...                                15
1                          Managing Partner  ...  Ratings of other rating agencies
2  Shri. S. Ravichandran, S/o R. Srinivasan  ...                               Nil

[2 rows x 16 columns]

In [26]:
companydf_transposed.rename(columns=companydf_transposed.iloc[0], inplace = True)

In [27]:
companydf_transposed

                           Managing Partner  ...  Ratings of other rating agencies
1                          Managing Partner  ...  Ratings of other rating agencies
2  Shri. S. Ravichandran, S/o R. Srinivasan  ...                               Nil

[2 rows x 16 columns]

In [28]:
companydf_transposed.drop(labels = [1], axis = 0, inplace = True)

In [29]:
companydf_transposed.reset_index(drop = True, inplace = True)

In [30]:
companydf_transposed

                           Managing Partner  ... Ratings of other rating agencies
0  Shri. S. Ravichandran, S/o R. Srinivasan  ...                              Nil

[1 rows x 16 columns]

In [31]:
companydf_transposed.columns

Index(['Managing Partner', 'Date of Incorporation', 'Constitution',
       'Shareholding Pattern', 'Group', 'Nature of Business',
       'Outlook on industry',
       'Registered Office/Corporate Office/Administrative office',
       'Controlling Office', 'Showroom locations', 'Auditors',
       'Tangible Networth', 'Status of No-defaults and Delays',
       'Wilful Defaulter as per CIBIL?', 'Outstanding ratings',
       'Ratings of other rating agencies'],
      dtype='object')

In [32]:
companydf_transposed.rename(columns = {'Managing Partner' : 'Partner',
       'Outlook on industry' : 'Outlook on Industry',
       'Registered Office/Corporate Office/Administrative office' : 'Registered Office/Corporate Office/Administrative Office',
       'Showroom locations' : 'Project/Plant/Unit/Property/Showroom Locations',
       'Tangible Networth' : 'Tangible Net worth', 
       'Wilful Defaulter as per CIBIL?' : 'Wilful Defaulter as per CIBIL', 'Outstanding ratings' : 'Outstanding rating & Outlook (CARE)',
       'Ratings of other rating agencies' : 'Ratings & Outlook of other rating agencies',
}, inplace = True)

In [33]:
companydf_transposed

                                    Partner  ... Ratings & Outlook of other rating agencies
0  Shri. S. Ravichandran, S/o R. Srinivasan  ...                                        Nil

[1 rows x 16 columns]

In [ ]:
# companydf_transposed.to_csv('companybriefprofile.csv', mode='a', header=True)

In [34]:
briefprofile_df = pd.read_csv('companybriefprofile.csv', index_col = 0)

In [35]:
briefprofile_df

        Chairman & Managing Director  ...          Chairman
0      Managed by Board of Directors  ...               NaN
1  Mr. Shashi Kiran Janardhan Shetty  ...               NaN
2                                NaN  ...               NaN
3                                NaN  ...               NaN
4                                NaN  ...               NaN
5                                NaN  ...  Mr. Sushil Ansal

[6 rows x 37 columns]

In [36]:
briefprofile_df.columns

Index(['Chairman & Managing Director', 'Date of Incorporation', 'Constitution',
       'Group', 'Shareholding Pattern', 'Nature of Business',
       'Outlook on Industry',
       'Registered Office/Corporate Office/Administrative Office',
       'Controlling Office', 'CIN/PAN',
       'Project/Plant/Unit/Property Locations', 'Tangible Net worth',
       'Accounting Standard Followed/ Adopted',
       'Status of No-defaults and Delays', 'Auditors',
       'Wilful Defaulter as per CIBIL', 'Outstanding rating & Outlook (CARE)',
       'Ratings & Outlook of other rating agencies',
       'Status of receipts of Bank Statements from Client',
       'Leased out area / Total Area / Occupancy (%)', 'Director',
       'Managing Director', 'Manufacturing Facilities',
       'First Year of Adoption of IND-AS',
       'Tangible Net-worth reported under I-GAAP and IND-AS as on the first adoption date',
       'Company Name', 'Type of Rating', 'Mandate date', 'Review Period',
       'Proprietor', 'Group Entity Details', 'Main Products/Services',
       'Installed Capacity', 'Analytical Approach', 'Applicable Criteria',
       'Partner', 'Chairman'],
      dtype='object')

In [38]:
briefprofile_df.rename(columns = {'Project/Plant/Unit/Property Locations' : 'Project/Plant/Unit/Property/Showroom Locations'}, inplace = True)

In [39]:
briefprofile_df

        Chairman & Managing Director  ...          Chairman
0      Managed by Board of Directors  ...               NaN
1  Mr. Shashi Kiran Janardhan Shetty  ...               NaN
2                                NaN  ...               NaN
3                                NaN  ...               NaN
4                                NaN  ...               NaN
5                                NaN  ...  Mr. Sushil Ansal

[6 rows x 37 columns]

In [40]:
briefprofile_df.shape

(6, 37)

In [41]:
frames1 = [briefprofile_df, companydf_transposed]
newcompanydf = pd.concat(frames1)

In [42]:
newcompanydf.reset_index(drop = True, inplace = True)

In [43]:
newcompanydf

        Chairman & Managing Director  ...          Chairman
0      Managed by Board of Directors  ...               NaN
1  Mr. Shashi Kiran Janardhan Shetty  ...               NaN
2                                NaN  ...               NaN
3                                NaN  ...               NaN
4                                NaN  ...               NaN
5                                NaN  ...  Mr. Sushil Ansal
6                                NaN  ...               NaN

[7 rows x 37 columns]

In [44]:
newcompanydf.columns

Index(['Chairman & Managing Director', 'Date of Incorporation', 'Constitution',
       'Group', 'Shareholding Pattern', 'Nature of Business',
       'Outlook on Industry',
       'Registered Office/Corporate Office/Administrative Office',
       'Controlling Office', 'CIN/PAN',
       'Project/Plant/Unit/Property/Showroom Locations', 'Tangible Net worth',
       'Accounting Standard Followed/ Adopted',
       'Status of No-defaults and Delays', 'Auditors',
       'Wilful Defaulter as per CIBIL', 'Outstanding rating & Outlook (CARE)',
       'Ratings & Outlook of other rating agencies',
       'Status of receipts of Bank Statements from Client',
       'Leased out area / Total Area / Occupancy (%)', 'Director',
       'Managing Director', 'Manufacturing Facilities',
       'First Year of Adoption of IND-AS',
       'Tangible Net-worth reported under I-GAAP and IND-AS as on the first adoption date',
       'Company Name', 'Type of Rating', 'Mandate date', 'Review Period',
       'Proprietor', 'Group Entity Details', 'Main Products/Services',
       'Installed Capacity', 'Analytical Approach', 'Applicable Criteria',
       'Partner', 'Chairman'],
      dtype='object')

In [45]:
newcompanydf.shape

(7, 37)

In [46]:
newcompanydf.to_csv('companybriefprofile.csv')         
files.download('companybriefprofile.csv')